*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.h1logo{
    font-size: 40px;display: inline-block;vertical-align:top
}
.white{
    background-color: white;
   
}
body{
    background-color: rgb(189, 189, 189);
}
